video-&-sound/مجسمه.mp4
video-&-sound/Billie Eilish - BIRDS OF A FEATHER.mp3
secure-pass.txt

# *.mp3
# *.mp4
# هرفایل با پسوند اینا لود نشه
# وقتی پوش میکنم اینا سمت گیتاب آپلود نمیشه
# اگر بارگذاری شده باشه از این کامند استفاده میکنیم
# untrack
# git rm -r --cached .

# push git command
# git add .
# git commit -m "until"
# git push -u origin main

# هر پروژه مختص به یک ریپازیتوری هست

# فرضا یک پروژه را تا نصفه و حجم بالایی نوشتیم و بعد تصمیم گرفتیم بزنیم رو
# گیتاب
# حالا اومدیدم با کامند های اولیه بزنیم گیر میکنه
# راه حل:
# با این کامند حجم بافر رو بیشتر میکنیم
# git config http.postBuffer 524288000

# Increase the POST buffer size in Git

# The value is specified in bytes, so in the above case the buffer size has been set to 50MB. The default is 1MB.