body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(210, 210, 255);
    /* view width - view height*/   
    overflow-x: hidden;
}

/* div{
    background-color: rgb(141, 141, 255);
} */

.div1{
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(72, 72, 138);
}

.links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* گپ فاصله بین ستون به ستون یا ردیف به ردیف */
    margin-top: 25px;
    background-color: rgb(43, 0, 255);
    padding-right: 10px;
    font-size: 30px;
}

.div2{
    padding: 15px;
    display: flex;
    direction: ltr;
    flex-direction: column;
    gap: 3px;
    background-color: aqua;
    margin-top: 20px;
}

#secondP{
    color: rgb(72, 0, 255);
}
/* سلکتور ها یعنی یک تگی را سلکت میکنی و بهش استایل میدی */

a:link{
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    /* برای حذف  underline */
}
a:visited{
    color: #422ae0;
}
a:hover{
    color: rgb(81, 255, 0);
}
a:active{
    color: blueviolet;
    /* یعنی لحظه ای که کلیک میکنی */
    text-decoration: line-through;
}

.mypre:hover{
    cursor: pointer;
    /* برای مثال تگ پری که بعد اضافه کردن کلاس مای پری و با اینجا آوردن پوینتر روش تعریف کردم */
    color: blue;
}